main {
  min-height: 80vh;
}

hr {
  background-color: #333;
}

h1 {
  font-size: 1.8rem;
}

.main-storebanner {
  margin: 0;
}

.main-title-container {
  text-align: center;
  position: relative;
  margin: 1.5rem 0 2rem 0;
}

.main-title {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem;
  color: #333;
  padding: 0 .25rem 0 1.25rem;
  transform: scaleY(1.2);
}

.main-sub-title {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  color: #333;
  transform: scaleY(1.1);
  margin-left: 1rem;
}

.fa-circle {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 2rem;
  font-size: .75rem;
}

.shop {
  padding: 1rem;
}

h2 {
  font-size: 1.3rem;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 300;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* product page carousel */
.product-carousel {
  margin-left: auto;
  margin-right: auto;
}

.details-carousel-img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* insta icon */
.insta_icon {
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

/* carousel */
.ad-container {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
  padding-top: .5rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.ad-item {
  background-image: url('./images/140921.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators li {
  background-color: #777;
}

.ad-carousel-img {
  display: inline-block;
  height: 17rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  margin-right: 8rem;
  border: 1px solid #D9D0BF;
}

.ad-carousel-desc-container {
  display: inline-block;
  text-align: right;
  padding-right: 1.5rem;
  width: 17rem;
  height: 17rem;
  color: #333;
  background-image: url('images/fireMoon.png');
  margin-bottom: 2.5rem;
  margin-left: 8rem;
}

.ad-h1 {
  padding-top: 2rem;
  transform: scaleY(1.1);
  padding-bottom: .5rem;
}

.ad-p {
  transform: scaleY(1.2);
  font-size: 1.2rem;
  font-weight: 300;
}

.ad-h2 {
  font-size: 1.4rem;
  transform: scaleY(1.1);
}

.carousel a {
  margin: 0 auto;
}

.card-title {
  color: #333;
}

/* about section */
.about-sections {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.about-texts {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.about-icons {
  text-align: center;
  margin: 2rem 0 2rem 2rem;
}

.about-pic-sec-1 {
  margin: 0 2rem 0 2rem;
  background-image: url(./images/cindyBby.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; 
}

.about-pic-sec-3 {
  margin: 0 2rem 0 2rem;
  background-image: url(./images/fireMoon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; 
}

.about-pic {
  width: 4rem;
}

.about-icon-1 {
  height: 8rem;
  width: 8rem;
  border: 1px solid #777;
  border-radius: 50%;
  background-image: url(./images/icon-collage-3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; 
}

.about-icon-2 {
  height: 8rem;
  width: 8rem;
  border: 1px solid #777;
  border-radius: 50%;
  background-image: url(./images/icon-earring-2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; 
}

.about-icon-3 {
  height: 8rem;
  width: 8rem;
  border: 1px solid #777;
  border-radius: 50%;
  background-image: url(./images/icon-painting-3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; 
}

.row {
  padding: .5rem 0 .5rem 0;
}

@media only screen and (max-width: 991px) {
  .about-sections {
    width: 100%;
  }

  .ad-carousel-img {
    height: 15rem;
    margin-top: .75rem;
    margin-bottom: 2rem;
    margin-right: 10rem;
  }
  
  .ad-carousel-desc-container {
    padding-right: 1.5rem;
    width: 15rem;
    height: 15rem;
    margin-bottom: 2rem;
    margin-left: 6rem;
  }

  .ad-h1 {
    padding-top: 1.75rem;
    padding-bottom: .5rem;
  }

  .ad-p {
    font-size: 1rem;
  }
  
  .ad-h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .main-title-container {
    margin: 1rem 0 1.5rem 0;
  }

  .about-texts {
    font-size: .95rem;
    line-height: 1.3rem;
  }

  .about-pic-sec-1 {
    margin: 0 1rem 0 1rem;
  }
  
  .about-pic-sec-3 {
    margin: 0 1rem 0 1rem;
  }

  .about-icon-1 {
    height: 6rem;
    width: 6rem;
  }
  
  .about-icon-2 {
    height: 6rem;
    width: 6rem;
  }
  
  .about-icon-3 {
    height: 6rem;
    width: 6rem;
  }

  .ad-carousel-img {
    height: 12rem;
    margin-top: .75rem;
    margin-right: 12rem;
  }
  
  .ad-carousel-desc-container {
    padding-right: 1.5rem;
    width: 12rem;
    height: 12rem;
    margin-bottom: 2.5rem;
    margin-left: 4rem;
  }

  .ad-h1 {
    font-size: 1.3rem;
  }

  .ad-p {
    font-size: .95rem;
  }
  
  .ad-h2 {
    font-size: .95rem;
  }
}

@media only screen and (min-width: 576px) {
  .mobile-sec {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .not-mobile-sec {
    display: none;
  }

  .details-carousel-img {
    width: 30rem;
    height: 30rem;
  }

  .product-carousel {
    margin-bottom: .25rem;
  }
}

@media only screen and (max-width: 539px) {
  .main-title-container {
    margin: 1rem 0 1rem 0;
  }

  .about-texts {
    font-size: .9rem;
    line-height: 1.2rem;
  }

  .about-pic-sec-1 {
    margin: 0 0 0 .5rem;
  }
  
  .about-pic-sec-3 {
    margin: 0 0 0 .5rem;
  }
  
  .about-icons {
    margin: 1rem 0 1rem 1rem;
  }

  .about-icon-1 {
    height: 4.15rem;
    width: 4.15rem;
  }
  
  .about-icon-2 {
    height: 4.15rem;
    width: 4.15rem;
  }
  
  .about-icon-3 {
    height: 4.15rem;
    width: 4.15rem;
  }

  .ad-carousel-img {
    height: 10rem;
    margin-top: .75rem;
    margin-right: 14rem;
  }
  
  .ad-carousel-desc-container {
    padding-right: 1.5rem;
    width: 12rem;
    height: 12rem;
    margin-bottom: 0rem;
    margin-left: 2rem;
  }

  .ad-h1 {
    font-size: 1.1rem;
  }

  .ad-p {
    font-size: .85rem;
  }
  
  .ad-h2 {
    font-size: .85rem;
  }

  .details-carousel-img {
    width: 25rem;
    height: 25rem;
  }
}

@media only screen and (max-width: 460px) {
  .ad-container {
    display: none;
  }

  .details-carousel-img {
    width: 22rem;
    height: 22rem;
  }
}

@media only screen and (max-width: 400px) {
  .details-carousel-img {
    width: 20rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 360px) {
  .main-title {
    font-weight: 400;
    font-size: 3rem;
    padding: 0 .15rem 0 1rem;
  }
  
  .main-sub-title {
    font-weight: 400;
    font-size: 2rem;
    margin-left: 1rem;
  }
  
  .fa-circle {
    font-size: .65rem;
  }

  .about-icons {
    margin: 1rem 0 1rem 0;
  }

  .details-carousel-img {
    width: 18rem;
    height: 18rem;
  }
}